* {
  font-family: "Muli", sans-serif;
  padding: 0;
  margin: 0;
}

.header {
  border: 6px solid #e04722;
  min-height: 1080px;
  background: url("../images/header-bg.png") center center/cover no-repeat;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 69px 100px 0 100px;
  border: 3px solid #ae3e76;
}

.menu {
  border: 3px solid #224ee0;
}
.menu__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu__link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
.menu__item {
  margin-right: 35px;
}
.menu__item:last-child {
  margin-right: 0;
}

.logo {
  width: 211px;
  height: 70px;
  border: 3px solid #224ee0;
}
.logo__link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.personal {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  border: 3px solid #224ee0;
}
.personal__list {
  display: flex;
  align-items: center;
  list-style: none;
}
.personal__list-item {
  padding-right: 45px;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__socials::before {
  content: "";
  margin-right: 40px;
  width: 47px;
  height: 2px;
  background-color: #ffd68f;
}

.header__socials .socials__item {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 100%;
}
.socials__item:last-child {
  margin-right: 0;
}
.header__bottom-inner {
  margin-top: 110px;
  display: flex;
  justify-content: center;
  border: 3px solid #ae3e76;
}

.btn {
  width: 280px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  font-size: 24px;
  font-weight: 400;
  border: none;
}
.header__btn--green-bg {
  background-color: #0aa466;
  color: #ffffff;
}

.header-bottom {
  display: flex;
  justify-content: center;
  margin-top: 105px;
}

.smoothies {
  border: 3px solid #224ee0;
}
.smoothies__inner {
  max-height: 870px;
  padding: 100px 0;
  text-align: center;
  border: 3px solid #ae3e76;
}
.smoothies__text {
  max-width: 920px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 400;
  border: 3px solid #224ee0;
}
.smoothies__title {
  border: 3px solid #224ee0;
}
/* .features {
  max-height: 380px;
  max-width: 1010px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; @FIXME: Разметка таблицы флексами, лучше изучить больше гриды в частности про бордер линию.
} */

.smoothies__features {
  display: grid;
  grid-template-rows: repeat(2, 180px);
  grid-template-columns: repeat(4, 240px);
  justify-content: center;
}

.features__item {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid #efeee9;
}
.features__descr {
  font-size: 24px;
  font-weight: 700;
  color: #f8b231;
}

.about__inner {
  position: relative;
  max-height: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url("../images/holder.png") center center/cover no-repeat;
  border: 3px solid #ae3e76;
}
.title {
  font-weight: 800;
  font-size: 50px;
  color: #f8b231;
}
.advantages {
  max-width: 586px;
  border: 3px solid #224ee0;
}
.about__welcome-img {
  position: relative;
  display: block;
  margin-top: 200px;
  z-index: 1;
  border: 3px solid #224ee0;
}
.advantages__list {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.75;
  color: #ffffff;
  list-style: none;
  border: 3px solid red;
}
.advantages__list li:before {
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  background-size: 18px;
  background-image: url(../icons/1.svg);
  background-repeat: no-repeat;
  margin-right: 20px;
  line-height: 100%;
}
.advantages__item--strong {
  font-size: 21px;
  font-weight: 600;
}
.about__title {
  color: #ffffff;
  border: 3px solid red;
}
.about__title-grn {
  color: #cae941;
}
.about__btn--yellow {
  width: 380px;
  height: 60px;
  margin-top: 50px;
  font-size: 21px;
  font-weight: 800;
  border: 3px solid #f8b231;
  background-color: transparent;
  color: #ffffff;
}

.products {
  height: 720px;
  display: flex;
  text-align: center;
  color: #ffffff;
  border: 3px solid #ae3e76;
}
.products__descr {
  font-size: 24px;
  font-weight: 700;
  margin-top: 34px;
  border: 3px solid red;
}
.products__subtitle {
  display: block;
  font-size: 21px;
  font-weight: 400;
  font-style: italic;
  margin: 16px 0 64px 0;
  border: 3px solid red;
}
.products__item {
  padding: 125px 0 80px 0;
  flex: 0 1 25%;
  border: 3px solid #224ee0;
}
.products__item--chocolate {
  background: url(../images/darkchocolate-holder.png) center center/cover
    no-repeat;
}
.products__item--vegan {
  background: url(../images/veganlett-holder.png) center center/cover no-repeat;
}
.products__item--lemon {
  background: url(../images/lemongin-holder.png) center center/cover no-repeat;
}
.products__item--turmeric {
  background: url(../images/turmeric-holder.png) center center/cover no-repeat;
}
.products__btn--white {
  width: 204px;
  height: 60px;
  margin: 0 auto;
  border: 3px solid #ffffff;
  text-align: center;
  background-color: transparent;
  color: #ffffff;
  
}
.story__btn--green-bg {
  font-size: 21px;
  font-weight: 700;
  background-color: #0aa466;
  color: #ffffff;
}

.story-inner {
  padding: 120px 300px 160px 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid red;
}
.story__cocktail-image-wrapper::before {
  content: url(../images/stamp.png);
  position: absolute;
  left: 50%;
  transform: translateX(-60%);
  border: 3px solid #224ee0;
}
.story__somestory {
  border: 3px solid #224ee0;
  width: 540px;
}
.story__descr {
  margin-top: 45px;
  max-width: 555px;
  padding-right: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  border: 3px solid #224ee0;
}
.story__btn--green-bg {
  margin-top: 60px;
}
.feedback {
  min-height: 720px;
  padding-top: 120px;
  position: relative;
  text-align: center;
  background: url(../images/sarah-holder.png) center center/cover no-repeat;
  border: 3px solid red;
}
.feedback__somequote {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: Italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  position: relative;
  z-index: 1;
  border: 3px solid #224ee0;
}
.feedback__title::after {
  content: "Sarah A";
  position: absolute;
  left: 50%;
  transform: translate(-70%, 45%);
  color: #59230d;
  font-size: 200px;
  font-weight: 800;
  border: 3px solid red;
}

.feedback__quote-auth {
  line-height: 45px;
  display: block;
  color: #f8b231;
  border: 3px solid #224ee0;
}
.feedback__somequote-inner {
  width: 475px;
  margin-right: 60px;
  border: 3px solid #224ee0;
}
.feedback__title--upper-orange {
  text-transform: uppercase;
  color: #f2612d;
}

.blog {
  padding: 100px 360px 0 360px;
}
.blog__cocktails-image {
  max-width: 1200px;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.feedback-wrapper {
  width: 560px;
  padding-left: 55px;
}
.blog__subtitle--upper-red {
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
  color: #f2612d;
  border: 3px solid #224ee0;
}
.blog__feedback::before {
  content: "";
  width: 650px;
  height: 12px;
  display: block;
  background-color: #f8ac38;
  border: 3px solid violet;
}
.blog__descr {
  padding-left: 65px;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  border: 3px solid #224ee0;
}
.blog__descr-more {
  font-weight: 800;
}
.blog__title {
  border: 3px solid #224ee0;
}
.blog__time {
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  border: 3px solid red;
}
.instagram {
  border: 3px solid red;
}
.instagram__title-wrapper {
  margin: 200px 0 50px 15px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.instagram__title {
  margin-left: 15px;
  font-size: 24px;
  font-weight: 800;
  color: #0aa566;
  border: 3px solid red;
}
.instagram__cocktails-images {
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
  border: 3px solid red;
}
.instagram__img {
  position: relative;
  width: 20%;
  
}
.instagram__img::after {
  content: url(../icons/social/Instagram.svg); /* @FIXME: Почему её нет? */
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid red;
}
.footer__wrapper {
  margin-top: 10px;
  height: 370px;
  display: flex;
  justify-content: center;
  background: url("../images/Holder-ft-bg.png") center center/cover no-repeat;
  border: 3px solid red;
}
.footer__blocks-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-self: center;
  border: 3px solid blue;
}
.footer__logo {
  align-self: center;
  margin-left: 100px;
  border: 3px solid blue;
}
.footer-title {
  margin-bottom: 40px;
  color: #ffffff;
  border: 3px solid violet;
}

.information__item {
  list-style: none;
  display: flex;
  flex-direction: column;
  border: 3px solid blue;
}
.footer__payment-title {
  margin-bottom: 0;
}
.footer__payment-list {
  width: 265px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 3px solid blue;
}
.footer__payment-link {
  margin-right: 20px;
  margin: 20px 20px 0 0;
  border: 3px solid blue;
}

.information__links {
  padding-bottom: 20px;
  text-decoration: none;
  color: #6d450c;
  font-size: 18px;
  font-weight: 700;
}

.subscribebox {
  height: 60px;
  width: 495px;
  padding-left: 70px;
  background: #ffffff;
  color: #6d450c;
  border-radius: 50px;
  font-size: 24px;
  font-weight: 400;
  border: none;
  position: relative;
  border: 3px solid red;
}

.subscribebox::-webkit-input-placeholder {
  color: #6d450c;
  font-size: 18px;
  font-weight: 700;
  line-height: 60px;
}
.emailbox {
  position: relative;
}
.icon-email {
  position: absolute;
  z-index: 1;
  font-size: 35px;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.footer__socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  border: 3px solid blue;
}
.footer__follow-text {
  text-transform: uppercase;
  font-weight: 800;
  color: #6d450c;
}
.footer-end {
  min-height: 60px;
  background: url(../images/footer-end-bg.png) center center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #ffffff;
  border: 3px solid red;
}
