* {
  font-family: "Muli", sans-serif;
  padding: 0;
  margin: 0;
}

.header {
  border: 6px solid #e04722;
  min-height: 1080px;
  background: url("../images/header-bg.png") center center/cover no-repeat;
}

.header__top-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 70px 0 0 0;
  border: 3px solid #ae3e76;
}

.menu {
  border: 3px solid #224ee0;
}
.menu__list {
  width: 540px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.menu__list .menu__link {
    text-decoration: none;
}

.logo {
  min-width: 210px;
  border: 3px solid #224ee0;
}

.personal__list {
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.divider {
  margin: 0 40px;
  width: 47px;
  height: 2px;
  background-color: #ffd68f;
}

.socials {
  width: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__socials .socials__item {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #224ee0;
}

.header__bottom-inner {
  margin-top: 110px;
  display: flex;
  justify-content: center;
  border: 3px solid #ae3e76;
}

.btn {
  width: 280px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  color: #ffffff;
  border: none;
}
.header__btn--green-bg {
  background-color: #0aa466;
}

.header-bottom__btn {

}
.header-bottom__link {
  text-decoration: none;
}
.btn-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 30px;
}
*/