// main: ./../main.less

.about {
  &__inner {
    position: relative;
    max-height: 80rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url("../images/holder.png") center center/cover no-repeat;
    border: 3px solid #ae3e76;
  }

  &__welcome-img {
    position: relative;
    display: block;
    margin-top: 20rem;
    z-index: 1;
    border: 3px solid #224ee0;
    @media (max-width: 1200px) {
      width: 55%;
      margin: 0;
      transform: translateY(5%);
    }
  }

  &__title {
    font-size: @base-font-size * 5.5rem;
    color: #ffffff;
    border: 3px solid red;
    @media (max-width: 1200px) {
      font-size: 4rem;
    }
    @media (max-width: 767px) {
      font-size: 2.5rem;
    }
    @media (max-width: 575px) {
      font-size: 2rem;
    }

    &-grn {
      font-size: @base-font-size * 5.5rem;
      color: #cae941;
      position: relative;
      @media (max-width: 1200px) {
        font-size: 4rem;
      }
      @media (max-width: 767px) {
        font-size: 2.5rem;
      }
      @media (max-width: 575px) {
        font-size: 2rem;
      }

      &:after {
        content: "";
        background-image: url(../icons/Line.svg);
        background-repeat: no-repeat;
        position: absolute;
        width: 45rem;
        height: 1rem;
        top: 6rem;
        right: -3rem;
        @media (max-width: 1200px) {
          top: 4.5rem;
          right: 0rem;
          width: 30rem;
        }
        @media (max-width: 767px) {
          top: 2.5rem;
          width: 19rem;
        }
      }
    }
  }
}

.advantages {
  max-width: 586px;
  border: 3px solid #224ee0;

  &__list {
    margin-left: 2.5rem;
    font-weight: 400;
    color: #ffffff;
    list-style-image: url(../icons/1.svg);
    border: 3px solid red;
  }

  &__item {
    padding-left: 20px;
    margin-top: 20px;
    font-size: @base-font-size * 2.1rem;
    @media (max-width: 1200px) {
      font-size: 1.5rem;
      padding-left: 1rem;
    }
    @media (max-width: 575px) {
      font-size: 1.2rem;
      padding-left: 0.5rem;
      margin-top: 0.5rem;
    }
    &--strong {
      font-size: @base-font-size * 2.1rem;
      font-weight: 800;
      @media (max-width: 1200px) {
        font-size: 1.6rem;
      }
      @media (max-width: 575px) {
        font-size: 1.2rem;
      }
    }
  }
}
