// main: ./../main.less

.about {
  &__inner {
    position: relative;
    max-height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url("../images/holder.png") center center/cover no-repeat;
    border: 3px solid #ae3e76;
  }

  &__welcome-img {
    position: relative;
    display: block;
    margin-top: 200px;
    z-index: 1;
    border: 3px solid #224ee0;
  }

  &__title {
    font-size: @base-font-size * 5.5rem;
    color: #ffffff;
    border: 3px solid red;

    &-grn {
      font-size: @base-font-size * 5.5rem;
      color: #cae941;
      position: relative;

      &:after {
        content: "";
        background-image: url(../icons/Line.svg);
        background-repeat: no-repeat;
        position: absolute;
        width: 450px;
        height: 10px;
        top: 60px;
        right: -30px;
      }
    }
  }
}

.advantages {
  max-width: 586px;
  border: 3px solid #224ee0;

  &__list {
    margin-left: 25px;
    font-weight: 400;
    color: #ffffff;
    list-style-image: url(../icons/1.svg);
    border: 3px solid red;
  }

  &__item {
    padding-left: 20px;
    margin-top: 20px;
    font-size: @base-font-size * 2.1rem;
    &--strong {
      font-size: @base-font-size * 2.1rem;
      font-weight: 800;
    }
  }
}
