//main: ./../main.less

.feedback {
  min-height: 720px;
  padding-top: 120px;
  position: relative;
  text-align: center;
  background: url(../images/sarah-holder.png) center center/cover no-repeat;
  border: 3px solid red;
  &__dots {
    position: absolute;
    top: -10%;
    right: 0;
    z-index: 2;
    @media (max-width: 991px) {
      display: none;
    }
  }
  &__somequote {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    color: #ffffff;
    border: 3px solid #224ee0;
  }

  &__title {
    @media (max-width: 991px) {
      font-size: 3rem;
    }
    &:after {
      content: "Sarah A";
      position: absolute;
      left: 50%;
      transform: translate(-70%, 45%);
      color: #59230d;
      font-size: @base-font-size * 20rem;
      font-weight: 800;
      border: 3px solid red;
      @media (max-width: 1199px) {
        font-size: 12rem;
        transform: translate(-78%, 60%);
      }
      @media (max-width: 991px) {
        font-size: 7.5rem;
        transform: translate(-95%, 140%);
      }
    }
    &--upper-orange {
      font-size: 3rem;
      font-weight: 800;
      text-transform: uppercase;
      color: #f2612d;
    }
  }
  &__quote {
    font-size: @base-font-size * 1.8rem;
    line-height: @base-font-size * 3.5rem;
  }
  &__quote-auth {
    display: block;
    font-size: @base-font-size * 1.8rem;
    line-height: 45px;
    color: #f8b231;
    border: 3px solid #224ee0;
  }

  &__somequote-inner {
    width: 475px;
    margin-right: 60px;
    border: 3px solid #224ee0;
  }

  &__arrow {
    transform: translateY(220px);
    &--left {
      transform: rotate(180deg);
    }
  }
}
