// main: ./../main.less

.footer {
  &__wrapper {
    margin-top: 1rem;
    height: 37rem;
    display: flex;
    justify-content: center;
    background: url("../images/Holder-ft-bg.png") center center/cover no-repeat;
    border: 3px solid red;
    @media (max-width: 575px) {
      height: auto;
    }
  }

  &__blocks-wrapper {
    margin-top: 7rem;
    display: flex;
    justify-content: space-around;
    align-self: start;
    flex-grow: 1;
    border: 3px solid blue;
    @media (max-width: 575px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__item {
    @media (max-width: 575px) {
      display: flex;
      flex-direction: column;
      flex: 0 1 50%;
      &-subscribe {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 1 100%;
      }
    }
  }
  &__logo {
    align-self: center;
    margin-left: 100px;
    border: 3px solid blue;
    @media (max-width: 1200px) {
      display: none;
    }
  }

  &-title {
    font-size: @base-font-size * 2.6rem;
    font-weight: 800;
    margin-bottom: 40px;
    color: #ffffff;
    border: 3px solid violet;
    @media (max-width: 991px) {
      font-size: 1.9rem;
      margin-bottom: 1rem;
    }
  }

  &__payment-title {
    margin-bottom: 0;
  }

  &__payment-list {
    width: 26.5rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 3px solid blue;
    @media (max-width: 991px) {
      width: 23rem;
    }
  }

  &__payment-link {
    margin: 20px 20px 0 0;
    border: 3px solid blue;
    @media (max-width: 991px) {
      margin: 1rem 0.5rem 0 0;
    }
  }

  &__followbox {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 3px solid red;
  }

  &__socials {
    border: 3px solid blue;
  }

  &__follow-text {
    position: relative;
    margin-right: 45px;
    text-transform: uppercase;
    font-size: @base-font-size * 1.8rem;
    font-weight: 800;
    color: #6d450c;
    border: 3px solid blue;
    @media screen and (max-width: 1200px) {
      margin-right: 1.5rem;
    }
  }

  &__follow-text {
    &:before {
      content: "";
      background-image: url(../images/Arrowfollow.svg);
      position: absolute;
      height: 43px;
      width: 48px;
      bottom: -5px;
      left: -60px;
      border: 3px solid blue;
      @media (max-width: 320px) {
        content: none;
      }
    }
  }

  &__socials-link {
    margin-right: 25px;
    border: 3px solid blue;
    @media screen and (max-width: 1200px) {
      margin-right: 1rem;
    }
    &:last-child {
      margin-right: none;
    }
  }

  &-end {
    min-height: 60px;
    background: url(../images/footer-end-bg.png) center center/cover no-repeat;
    .flexcenter;
    font-size: @base-font-size * 1.3rem;
    color: #af8a82;
    border: 3px solid red;
  }

  .information {

    &__item {
      list-style: none;
      display: flex;
      flex-direction: column;
      border: 3px solid blue;
    }

    &__links {
      padding-bottom: 20px;
      text-decoration: none;
      color: #6d450c;
      font-size: @base-font-size * 1.8rem;
      font-weight: 700;
      @media (max-width: 991px) {
        padding: 0.5rem 0;
      }
    }
  }

  .footer__subscribebox {
    height: 60px;
    width: 495px;
    padding-left: 70px;
    background: #ffffff;
    color: #6d450c;
    border-radius: 30px;
    font-size: @base-font-size * 2.4rem;
    border: none;
    position: relative;
    border: 3px solid red;

    @media screen and (max-width: 1199px) {
      width: 26rem;
      height: 4.5rem;
    }
    @media (max-width: 575px) {
      width: 20rem;
      font-size: 2rem;
    }

    &::-webkit-input-placeholder {
      color: #6d450c;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 60px;
    }
  }

  .emailbox {
    position: relative;
  }

  .icon-email {
    position: absolute;
    z-index: 1;
    font-size: @base-font-size * 3.5rem;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
}
