// main: ./../main.less

.header {
  border: 3px solid #e04722;
  height: 100vh;
  background: url("../images/header-bg.png") center center/cover no-repeat;

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 69px 100px 0 100px;
    border: 3px solid #ae3e76;
  }
  .socials__item {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 100%;
  }
  &__socials:before {
    content: "";
    margin-right: 40px;
    width: 47px;
    height: 2px;
    background-color: #ffd68f;
  }
  &__item {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 100%;

    &:last-child {
      margin-right: 0;
    }
  }

  &__bottom-inner {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    border: 3px solid #ae3e76;
  }
}

.menu {
  border: 3px solid #224ee0;

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
  }

  &__item {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.logo {
  width: 211px;
  height: 70px;
  border: 3px solid #224ee0;

  &__link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.personal {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  border: 3px solid #224ee0;

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__icon-cart {
    position: relative;
    text-decoration: none;
    &:after {
      content: "3";
      width: 18px;
      height: 18px;
      position: absolute;
      text-align: center;
      line-height: 18px;
      border-radius: 100%;
      background-color: #ffffff;
      font-size: 10px;
      color: #000000;
    }
  }
  &__list-item {
    margin-right: 45px;
  }
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
