// main: ./../main.less

.header {
  border: 3px solid #e04722;
  height: 100vh;
  background: url("../images/header-bg.png") center center/cover no-repeat;

  &__top-inner {
    padding: 70px 90px 0 90px;
    border: 3px solid #ae3e76;
    @media (max-width: 1265px) {
      padding: 70px 0 0 0;
    }
    @media (max-width: 991px) {
      padding: 70px 0 0 0;
    }
  }
  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1100px) {
      margin-top: 40px;
      flex-direction: column-reverse;
    }
    @media (max-width: 767px) {
      position: fixed;
      justify-content: flex-end;
      align-items: center;
      padding: 0;
      background-color: rgba(7, 145, 89, 0.9);
      transition: 0.7s;
      top: 0;
      left: -100%;
      width: 50%;
      height: 100vh;
      z-index: 9999;
      &--active {
        margin: 0;
        left: 0;
      }
    }
  }
  &__hamburger {
    display: none;
    @media (max-width: 767px) {
      display: block;
      position: absolute;
      right: 3rem;
      top: 5rem;
      transform: translateY(-50%);
      width: 2.6rem;
      z-index: 9999999999;
      &-item {
        display: block;
        height: 0.2rem;
        width: 100%;
        background-color: #fff;
        margin-bottom: 0.2rem;
        transition: 0.5s all;
      }
      &--active {
        &-item {
          margin-bottom: -0.2rem;
        }
        &-item:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);
        }
        &-item:nth-child(2) {
          display: none;
        }
        &-item:nth-child(3) {
          transform: translateY(3px) rotate(45deg);
        }
      }
    }
  }
  .socials__item {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 100%;
  }
  &__socials:before {
    content: "";
    margin-right: 4rem;
    width: 4.7rem;
    height: 0.2rem;
    background-color: #ffd68f;
    @media (max-width: 1520px) {
      margin-right: 1rem;
    }
    @media (max-width: 767px) {
      content: none;
    }
  }
  &__item {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 100%;
    @media (max-width: 1200px) {
      margin-right: 0.5rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__bottom-inner {
    margin-top: 11rem;
    display: flex;
    justify-content: center;
    border: 3px solid #ae3e76;
  }
}

.menu {
  border: 3px solid violet;
  @media (max-width: 1100px) {
    margin-top: 20px;
  }
  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 2rem 1.5rem;
      background-color: rgba(7, 145, 89, 0.9);
      transition: 0.7s;
      top: 0;
      left: -100%;
      z-index: 9999;

      &--active {
        left: 0;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
    @media (max-width: 1520px) {
      font-size: 1.5rem;
    }
    @media (max-width: 767px) {
      font-size: 1.5rem;
    }
  }

  &__item {
    margin-right: 3.5rem;
    @media (max-width: 1520px) {
      margin-right: 1rem;
    }
    @media (max-width: 1200px) {
      margin-right: 1rem;
    }
    @media (max-width: 767px) {
      margin-right: 0;
      margin-top: 60px;
      &:first-child {
        margin-top: 0;
      }
    }
    @media (max-width: 575px) {
      margin-top: 40px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.logo {
  width: 21.1rem;
  height: 7rem;
  border: 3px solid #224ee0;

  &__link {
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    @media (max-width: 1200px) {
      transform: translate(-50%, 0);
    }
    @media (max-width: 575px) {
      transform: translate(-60%, 0);
    }
    @media (max-width: 319px) {
      width: 100%;
    }
  }
}

.personal {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  border: 3px solid #224ee0;
  @media (max-width: 767px) {
    margin: 80px 0;
  }
  @media (max-width: 575px) {
    flex-direction: column;
  }
  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    @media (max-width: 767px) {
      margin-right: 45px;
    }
    @media (max-width: 575px) {
      margin-right: 0px;
    }
  }

  &__icon-cart {
    position: relative;
    text-decoration: none;
    &:after {
      content: "3";
      width: 1.8rem;
      height: 1.8rem;
      position: absolute;
      text-align: center;
      line-height: 1.8rem;
      border-radius: 100%;
      background-color: #ffffff;
      font-size: 1rem;
      color: #000000;
    }
  }
  &__list-item {
    margin-right: 45px;
    @media (max-width: 1520px) {
      margin-right: 25px;
    }
  }
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 575px) {
    margin-top: 20px;
  }
}
