// main: ./../main.less

.instagram {
  // border: 3px solid red;

  &__title-wrapper {
    margin: 200px 0 45px 1.5px;
    .flexcenter;
    @media (max-width: 1199px) {
      margin-top: 100px;
    }
    @media (max-width: 575px) {
      margin: 40px 0;
    }
  }

  &__title {
    margin-left: 15px;
    font-size: @base-font-size * 2.4rem;
    font-weight: 800;
    color: #0aa566;

    // border: 3px solid red;
  }

  &__cocktails-images {
    display: flex;
    // border: 3px solid red;
    @media (max-width: 740px) {
      overflow-x: scroll;
      overflow-y: hidden;
    }
  }

  &__image-wrapper {
    flex: 0 1 20%;
    // width: 100%;
    // margin: 0;
    // padding: 0 0 20% 0;
    // // overflow: hidden;
    // position: relative;
    @media (max-width: 740px) {
      flex: 0 0 70%;
    }
    &:after {
      content: "";
      background-image: url("../../icons/instagramwhite.svg");
      background-repeat: no-repeat;
      position: absolute;
      height: 6rem;
      width: 3.5rem;
      z-index: 999999;
      bottom: -10px;
      right: 20px;
      @media (max-width: 991px) {
        bottom: -25px;
        right: 15px;
      }
    }
  }
  &__image {
    width: 100%;

    @media (max-width: 740px) {
      overflow: scroll;
    } 
  }
}
