// main: ./../main.less

.products {
  /* height: 720px; */
  display: flex;
  text-align: center;
  color: #ffffff;
  // border: 3px solid #ae3e76;
  @media (max-width: 991px) {
    height: inherit;
  }
  @media (max-width: 768px) {
    overflow: hidden;
}
  @media (max-width: 575px) {
    overflow-x: scroll;
  }

  &__descr {
    font-size: @base-font-size * 2.4rem;
    font-weight: 700;
    margin-top: 35px;
    // border: 3px solid red;
    @media (max-width: 1200px) {
      font-size: 2rem;
    }
  }

  &__subtitle {
    display: block;
    font-size: 2.1rem;
    font-weight: 400;
    font-style: Italic;
    margin: 16px 0 64px 0;
    // border: 3px solid red;
    @media (max-width: 1200px) {
      font-size: 1.8rem;
    }
    @media (max-width: 991px) {
      margin-bottom: 4rem;
    }
    @media (max-width: 319px) {
      margin-bottom: 2rem;
    }
  }
  &__item {
    padding: 125px 0 80px 0;
    flex: 0 1 25%;
    // border: 3px solid #224ee0;
    @media (max-width: 991px) {
      padding: 80px 0;
    }
    @media (max-width: 575px) {
      flex: 0 0 80%;
      padding: 50px 0;
    }

    &--chocolate {
      background: url(../images/darkchocolate-holder.png) center center/cover
        no-repeat;
    }
    &--vegan {
      background: url(../images/veganlett-holder.png) center center/cover
        no-repeat;
    }
    &--lemon {
      background: url(../images/lemongin-holder.png) center center/cover
        no-repeat;
    }
    &--turmeric {
      background: url(../images/turmeric-holder.png) center center/cover
        no-repeat;
    }
    &:hover {
      transform: scale(1.1);
      z-index: 1;
      transition: all 0.7s;
      @media (max-width: 575px) {
        transform: none;
      }
    }
  }
  &__images {
    @media (max-width: 319px) {
      width: 40%;
    }
  }
}
