// main: ./../main.less

.story {
    .btn {
      margin: 60px 0 0 0;
    }
    &-inner {
        padding: 120px 300px 160px 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 3px solid red;
      }

    &__cocktail-image-wrapper {
        position: relative;
      }
    &__descr-image {
        position: absolute;
        transform: translateX(-60%);
        border: 3px solid #224ee0;
      }

    &__somestory {
        margin: 0;
        border: 3px solid #224ee0;
        width: 540px;
      }
    &__descr {
        margin-top: 45px;
        max-width: 555px;
        padding-right: 35px;
        font-size: @base-font-size *1.8rem;
        line-height: 35px;
        border: 3px solid #224ee0;
      }
}










/* .story__btn--green-bg {
    width: 301px;
    height: 60px;
    position: relative;
    padding: 20px 40px 20px 30px;
    text-align: left;
    font-size: 21px;
    font-weight: 800;
    background-color: #0aa466;
    color: #ffffff;
  }
  .story__btn--green-bg:after {
    content: "";
    background-image: url(../icons/arrow.png);
    background-repeat: no-repeat;
    height: 15px;
    width: 30px;
    position: absolute;
    right: 40px;
    bottom: 20px;
  }
  .story__btn--green-bg:hover:after {
    padding-right: 10px;
  } */
 /*  .story__btn--green-bg {
    margin-top: 60px;
  } */

  /* @FIXME: asdasd */