// out: ./main.css, compress: true, sourceMap: true

/* Mixin-var */

@import "less/_variables.less";
@import "less/_mixins.less";



* {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

body {
  overflow-x: hidden;
}

/* Style of blocks */
@import "blocks/_title.less";
@import "blocks/_button.less";
@import "blocks/_header.less";
@import "blocks/_smoothies.less";
@import "blocks/_about.less";
@import "blocks/_products.less";
@import "blocks/_story.less";
@import "blocks/_feedback.less";
@import "blocks/_blog.less";
@import "blocks/_instagram.less";
@import "blocks/_footer.less";

